body {
    margin: 0;
    pad: 0;
    color: #333333;
    font-family: "Arial MT";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 100% auto;
    height: 100% auto;
}

header {
    background-color: #445162;
}

.header_text>h1 {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-family: "Arial MsT";
    font-size: 60px;
    font-weight: 400;
}

.header_content {
    padding-top: 4%;
}

.header_text_cont {
    padding-top: 5%;
    margin-inline: 1%;
}

.header_img {
    width: 469px;
    height: 214px;
    background-color: #ffffff;
}